<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />
		
	<h4><f:translate key="title.cancel"/></h4>

	<f:if condition="{address}">
		<f:then>
			<p><f:translate key="text.cancel-confirm" arguments="{0: '{address.email}'}"/></p>
		</f:then>
		<f:else>
			<p><f:translate key="text.cancel-confirm-fail"/></p>
		</f:else>
	</f:if>

</f:section>